<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">ProjectFirst</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            Shopping Cart
          <span class="badge badge-warning badge-pill">{{Pcount}}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!(AuthService.username$ | async)">
          <a class="nav-link" routerLink="/log-in">Login</a> 
        </li>
        <li ngbDropdown class="nav-item dropdown" *ngIf="(AuthService.username$ | async) as user">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.email}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/shopping-cart">My Orders</a>
            <div *ngIf="flag">
              <a class="dropdown-item"  routerLink="/admin/orders"  >Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </div>
            <a class="dropdown-item" routerLink="/" (click)="logout()">LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  