<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">add New Product</a>
</p>
<p>
    <input type="text" ngModel placeholder="Search..." class="form-control">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listProducts$ | async ">
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price | currency:'USD':true}}</td>
            <td><a [routerLink]="['/admin/products',p.key]">Edit</a></td>
        </tr>
    </tbody>
</table>